// 深色模式
html.dark {
  //登录页背景
  .login-container {
    background-color: #191919 !important;
    .login-box {
      background-color: #000c !important;
    }
  }
  // layout 暗黑模式样式
  .layout-content {
    background-color: #14161a;
  }
  .layout-content-header,
  .layout-content-sidebar,
  .layout-content-tagbar {
    background-color: #1c1e23;
  }
  .layout-content-sidebar {
    border-right: 1px solid #36363a;
    box-sizing: border-box;
  }
  .layout-content-header {
    border-bottom: 1px solid #36363a;
  }
  /** layout 暗黑模式样式end **/
  .bars-hover:hover {
    background-color: #36363a;
  }
}
