@import 'node_modules/element-plus/theme-chalk/src/dark/css-vars.scss';
* {
  margin: 0;
  padding: 0;
}

html.dark {
  a {
    color: #e5eaf3;
  }
  //登录页背景
  .login-container {
    background-color: #191919 !important;
    .login-box {
      background-color: #000c !important;
    }
  }
  // layout
  .layout-content {
    background-color: var(--el-bg-color);
  }
  .layout-content-header,
  .layout-content-sidebar {
    background-color: #18181c;
  }
  .layout-content-sidebar {
    border-right: 1px solid #393939;
  }
  .layout-content-sidebar-logo {
    border-bottom: 1px solid #393939;
  }
}
// 顶部加载条
.custom-loading-bar .el-loading-spinner {
  height: 4px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #409eff;
  animation: loading-bar 1.5s linear infinite;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
